<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title>{{nomePizza}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="editar(form)">
    <ion-item>
      <ion-label position="floating">Nome da Pizza</ion-label>
      <ion-input type="text" name="nomePizza" value="{{nomePizza}}" ngModel></ion-input>
    </ion-item>
    <br/>
    <ion-item>
      <ion-label position="floating">Preço</ion-label>
      <ion-input type="text" name="precoPizza" value="{{precoPizza}}" ngModel></ion-input>
    </ion-item>
    <br/>
    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-textarea type="text" name="descricaoPizza" value="{{descricaoPizza}}" ngModel></ion-textarea>
    </ion-item>
    <br/>
    <br/>
    <ion-button expand="block" type="Submit">Salvar</ion-button> 
  </form>
</ion-content>
