<ion-header>
  <ion-toolbar>
    <ion-title>
      DIVPIZZA - início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-searchbar></ion-searchbar>
    <br/>
    <br/>
    <ion-card>
      <img src="../assets/pizza1.jpg"/>
      <ion-card-content>
        <ion-card-title>
          Pizza mineira
        </ion-card-title>
        <ion-card-subtitle>
          queijo, catupiry,
          lombo de porco, cogumelos,
          mangericão.
        </ion-card-subtitle>
        <br/>
        <br/>
        <ion-button color='danger'>
          <ion-icon name='cart' slot='start'>
          </ion-icon>
           Comprar
        </ion-button>
      </ion-card-content>
    </ion-card> 
  </div>
</ion-content>
